$color-accent: #393FCF !default
$color-text: #000000 !default
$color-text-alt: #454545 !default
$color-border: rgba(0, 0, 0, 0.10) !default
$color-background-alt: #dcdcdc !default
$color-background: #EBEDF0 !default

$heading-font-family: "Work Sans", sans-serif
$body-font-family: "Source Serif", serif

// $h1-font-family: $title-font-family
// $h1-weight: normal
// $h1-size-desktop: pxToRem(90)
// $h1-size: pxToRem(60)
// $h1-line-height: 90%

$header-background: white
$header-border-bottom-width: 0
// $header-logo-height: 20px
$header-logo-height-desktop: 48px
$footer-background-color: none
// $footer-logo-height: 15px
// $footer-logo-height-desktop: 20px
$hero-background-color: none
