$color-1: #F1F0EC
$color-2: #EBEDF0
$color-other: #F25100

$color-accent: #393FCF !default
$color-text: #000000 !default
$color-text-alt: #454545 !default
$color-border: rgba(0, 0, 0, 0.10) !default
$color-background-alt: #dcdcdc !default
$color-background: $color-2 !default

$heading-font-family: "Work Sans", sans-serif !default
$body-font-family: "Source Serif", serif !default

$h1-size-desktop: pxToRem(68) !default
$h1-line-height: 100% !default
$h3-size-desktop: pxToRem(40) !default
$h3-line-height-desktop: 120% !default
$lead-hero-size-desktop: pxToRem(28) !default
$lead-hero-line-height: 130% !default
$lead-hero-line-height-desktop: $lead-hero-line-height !default
$body-size-desktop: pxToRem(24) !default

$image-border-radius: 9px

$body-overlay-color: rgba(255, 255, 255, 0.8) !default
$footer-background-color: none !default
$header-background: white !default
$header-border-bottom-width: 0 !default
$header-dropdown-full: true !default
$header-dropdown-background: green !default
$header-sticky-background: white !default
$header-sticky-dropdown-background: white !default
$header-logo-height: 25px !default
$header-logo-height-desktop: 48px !default
$hero-background-color: none !default
