body
    &::after
        backdrop-filter: blur(10px)
img
    border-radius: $image-border-radius
#document-header
    // Ombre sous le menu
    filter: drop-shadow(0 0 8px #00000006)
    @include media-breakpoint-up(desktop)
        .container
            // 3 parties égales
            > *
                flex: 1
            // Logo centré
            .logo
                img
                    margin-left: auto
                    margin-right: auto
            // Menu à droite
            .menu
                .nav-level-1
                    justify-content: end
    // Petit filet sous le menu des thématiques
    .dropdown-menu
        border-top: solid 1px $color-border
    // Nom du site à gauche
    .site-name
        // Pas en mobile
        display: none
        @include media-breakpoint-up(desktop)
            display: block
            @include meta
            a
                color: $color-accent
                text-decoration: none
    .menu
        @include media-breakpoint-up(desktop)
            // Bouton thématiques
            span
                border-radius: $btn-border-radius
            [aria-expanded=true]
                background: $color-background
                color: $color-accent !important
            .has-children:not(.header-i18n)
                .dropdown-menu:not(.is-titled)
                    .nav-level-2
                        margin-top: $spacing-3
                        display: inline-flex
                        flex-wrap: wrap
                        justify-content: center
                        max-width: columns(8)
                        margin-left: offset(2)
                        grid-row-gap: $spacing-3
                        a
                            color: $color-accent
                            font-size: pxToRem(40)
                            font-weight: bold

.posts__page
    @include media-breakpoint-up(desktop)
        .hero
            .content
                display: block
                .hero-text
                    width: columns(8)
                    margin-left: offset(2)
                    margin-bottom: $spacing-5
                figure
                    // Utilisé à l'envers pour avoir un léger écart
                    margin-left: columns(2)
                    // Utilisé à l'envers pour retomber sur la colonne
                    max-width: offset(9)
                    width: 100%
            &--image-portrait
                .content
                    figure
                        // Utilisé à l'envers pour retomber sur la colonne
                        width: offset(4)
        .post-sidebar
            > div
                position: relative !important
                top: 0 !important
                .post-infos
                    > li
                        border: none !important
                        display: block
                        > span
                            display: block
                        > ul
                            text-align: left
                            > li
                                margin-left: 0
                                margin-right: $spacing-2
                .toc-container
                    padding-top: $spacing-2 !important
                    border: none !important
        // .document-content 
        //     .block 
        //         .block-content
        //             // padding-left: offset(2) !important
        //             // padding-right: offset(2) !important
        //             // width: columns(6)
.post 
    .media 
        img
            aspect-ratio: 1
#document-footer
    border-top: solid 1px $color-border
    padding-top: 0 !important
    .container:first-of-type
        padding-bottom: 0
    .footer-logo,
    .footer-site
        display: none
    .container
        justify-content: center !important
        text-align: center
