// Footer très simple (pas de logo, bordure en haut)
#document-footer
    border-top: solid 1px $color-border
    padding-top: 0 !important
    .container:first-of-type
        padding-bottom: 0
    .footer-logo,
    .footer-site
        display: none
    .container
        justify-content: center !important
        text-align: center
