#main
    background: var(--color-background)
    margin-bottom: 800px
.blocks 
    .block:last-child
        padding-bottom: $spacing-5
#document-footer
    bottom: 0
    padding-top: 100vh !important
    position: fixed !important
    text-align: center
    z-index: -1 !important
    .footer-logo
        img
            margin: auto
    .container
        justify-content: center !important
        + .container
            align-items: center !important
            flex-direction: column-reverse
    .footer-social
        .nav-social
            li
                a
                    @include h3
            @include media-breakpoint-up(desktop)
                li
                    display: inline
                    margin-left: $spacing-3
                    margin-right: $spacing-3
    .footer-site
        display: none
    .footer-legals
        margin-top: $spacing-6
    .footer-credit
        a
            text-decoration: none
    @include media-breakpoint-up(desktop)
        .nav-legal
            display: inline
            li
                display: inline
                &:after
                    content: " — "
        .footer-credit
            display: inline !important
