.posts__page
    @media (min-width: 992px) and (max-width: 1400px)
        .hero-text
            h1, 
            h1 span
                font-size: pxToRem(46)
    @include media-breakpoint-up(desktop)
        .hero
            .content
                display: block
                .hero-text
                    width: columns(8)
                    margin-left: offset(2)
                    margin-bottom: $spacing-5
                figure
                    margin-left: offset(2)
                    width: 100%
                    width: columns(8)
            &--image-portrait
                .content
                    figure
                        width: columns(4)
        .post-sidebar
            position: relative !important
            padding-left: offset(2)
            width: columns(10) !important
            margin-bottom: $spacing-5
            .toc-container
                padding-top: $spacing-2 !important
                width: 100%
                .toc-title
                    position: absolute
                .toc-pages
                    border-bottom: 1px solid var(--color-border)
                    padding-bottom: $spacing-3
                    ol
                        align-items: end
                        padding-left: pxToRem(160)
                        text-align: right
                        li:first-child
                            margin-top: pxToRem(5)

        .blocks
            // Centrage du texte
            .heading h2,
            .block-chapter .block-content,
            .block-definitions .block-content,
            .block-files .block-content,
            .block-testimonials .block-content,
            .block-license .block-content,
            .block-persons .block-content
                padding-left: offset(2) !important
                width: columns(10)
            // Lettrine
            .block-chapter
                &:first-of-type
                    .chapter
                        .rich-text
                            &::first-letter
                                background: black
                                color: white
                                font-family: $heading-font-family
                                font-weight: bold
                                font-style: normal
                                initial-letter: 2
                                margin-bottom: -4px
                                margin-right: $spacing-2
                                margin-top: pxToRem(40)
                                padding: pxToRem(40) pxToRem(50)
        .block-siblings-navigation
            .block-content
                padding-left: 0 !important
    @include media-breakpoint-down(desktop)
        .toc-cta
            border: none
            margin-top: var(--grid-gutter)
            position: relative
        .toc-content
            background: var(--color-background)
.post 
    .media 
        img
            aspect-ratio: 1
            max-width: none

.posts__section,
.authors__term,
.posts_categories__term,
.persons__page
    .posts--list 
        @include media-breakpoint-down(desktop)
            article
                flex-direction: column
                .post-content
                    margin-left: 0
                .media
                    margin-bottom: $spacing-2